[submodule "twitch_fetcher"]
	path = twitch_fetcher
	url = git@github.com:OMGeeky/twba.twitch_fetcher.git
[submodule "twitch_splitter"]
	path = twitch_splitter
	url = git@github.com:OMGeeky/twba.splitter.git
[submodule "twba_reqwest_backoff"]
	path = twba_reqwest_backoff
	url = git@github.com:OMGeeky/twba_reqwest_backoff.git
[submodule "twba.uploader"]
	path = twba.uploader
	url = git@github.com:OMGeeky/twba.uploader.git
[submodule "twitch_backup.local_db"]
	path = twitch_backup.local_db
	url = git@github.com:OMGeeky/twitch_backup.local_db.git
[submodule "twitch_data"]
	path = twitch_data
	url = git@github.com:OMGeeky/twitch_data.git
[submodule "twba_downloader"]
	path = twba_downloader
	url = git@github.com:OMGeeky/twba_downloader.git
[submodule "downloader_config"]
	path = downloader_config
	url = git@github.com:OMGeeky/downloader_config.git
